<h1>Log In</h2>

<form action="<%= sessions_url %>" method="post">
  <label>Email</label>
  <input type="text" id="email" name="user[email]">

  <label>Password</label>
  <input type="password" id="password" name="user[secret]">

  <input type="submit" value="Log In">
</form>