<h1>Add Track</h1>

<form action="<%= albums_url %>" method="post">
  <label for="select album">Album</label>
  <br>
  <select name="track[album_id]" id="album_name">
    <% @albums.each do |album| %>
      <option value="<%= album.id %>"><%= album.title %></option>
    <% end %>
  </select>
  <br>
  <br>
  <label for="track_title">Track Title</label>
  <br>
  <input type="text" name="track[title]" id="track_title">
  <br>
  <br>
  <label for="select track">Select Track Type</label>
  <input type="radio" name="track[track_type]" value="B">
  <label for="track_type_bonus">Bonus</label>
  <input type="radio" name="track[track_type]" value="R">
  <label for="track_type_regular">Regular</label>
  <br>
  <label for="Lyrics">Add Lyrics</label>
  <textarea name="track[lyrics]"></textarea>

  <br>
  <br>
  <input type="submit" value="Add track">
</form>