<h1>Sign Up</h1>
<form action="<%= users_url %>" method="post">
  <label for="email">Email address</label>
  <input type="text" id="email_address" name="user[email]">

  <label for="password">Password</label>
  <input type="password" id="password" name="user[secret]">

  <input type="submit" value="Sign Up">
</form>