<% if params["band_id"].nil? %>
  <% @albums.each do |album| %>
    <%= album.title %>
  <% end %>
<% else %>

  <% @bands.each do |band| %>
    <% if band.id == params["band_id"].to_i %>
      <% band.albums.each do |album| %>
        <%= album.title %>
      <% end %>
    <% end %>

  <% end %>
<% end %>




