<h1>Add Album</h1>

<form action="<%= albums_url %>" method="post">
  <label for="select band">Select Band</label>
  <br>
  <select name="album[band_id]" id="band_name">
    <% @bands.each do |band| %>
      <option value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select>
  <br>
  <br>
  <label for="album title">Album Title</label>
  <br>
  <input type="text" name="album[title]" id="album_title">
  <br>
  <br>
  Select album type
  <br>
  <input type="radio" name="album[album_type]" value="L">
  <label for="album_type_live">Live</label>
  <br>
  <input type="radio" name="album[album_type]" value="S">
  <label for="album_type_studio">Studio</label>
  <br>

  <br>
  <br>
  <input type="submit" value="Add album">
</form>