<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors]%>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <% if flash[:notice]%>
    <%= flash[:notice] %>
  <% end %>

  <!-- <% if self.current_user %>
    <%= self.current_user.email %>
    <%= button_to "Log Out", sessions_url, :method => :delete %>
  <% else %>
    <%= button_to "Log In", new_sessions_url, :method => :get %>
  <% end %> -->


<%= yield %>

</body>
</html>
